.aboutMe__section {
    margin: 140px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1660px;
    position: relative;
    border: solid 2px red;

    & img {
        position: absolute;
        width: 300px;
        height: auto;
    }

    & img:nth-child(1) {
        top: -20%;
        left: 1%;
        z-index: -10;
        animation: float 6s ease-in-out infinite;
    }

    & img:nth-child(2) {
        bottom: -20%;
        right: 0;
        animation: float 7s 1s ease-in-out infinite;
    }
}

.aboutMe__container {
    width: 70%;
    padding: 3rem;
    border-radius: 3rem;
}

.aboutMe__content_container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 3rem;
    padding: 3rem 0;

    & h1 {
        
    }

    & p {
      
        padding: 0 1rem;
    }
}

.CTA {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 90%;

    & a {
        padding: 12px 12px;
        width: 240px;
        max-width: 80%;
        border-radius: 8px;
        cursor: pointer;
        text-align: center;
        font-weight: 600;
        transition: all 0.3s ease;
    }
}

.primaryButton {


}

.outlineButton {

}