.section__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}   

.container{
   	margin: 0 auto;
	max-width: 1536px;
	padding: 0 2rem;
}

section {
	margin-top: 120px;
	margin-bottom: 120px;
}